* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input {
    border-radius: 0;
    margin-bottom: 5px;
}

.form-signin .invalid-feedback {
    margin-bottom: 5px;
}

.form-register input {
    border-radius: 0;
    margin-bottom: 5px;
}

.form-register .invalid-feedback {
    margin-bottom: 5px;
}